{
  "mcpServers": {
    "MSP360": {
      "command": "docker",
      "args": [
        "run",
        "-i",
        "-e", "MSP360_API_LOGIN=YOUR_API_LOGIN",
        "-e", "MSP360_API_PASSWORD=YOUR_API_PASSWORD",
        "-e", "MSP360_RMM_API_TOKEN=YOUR_RMM_TOKEN",
        "-e", "API_TIMEOUT=60",
        "tonyzorin/msp360-mcp:2.2.2"
      ]
    }
  }
}
